{% extends "covid/base.html" %}
{% block content %}

 
<div class="homeContainer">
    <div class="mainHead">
    About
    </div>  
    <H2>I created this app to help the good people of Ohio keep track of the Covid-19 Virus and take the steps to help prevent against it.</H2>
    <p>Feel free to follow me on Twitter and checkout my Github, test SEO</p>
    <a class="btn btn-outline-primary" href="http://www.twitter.com/billydeniro3" role="button">Twitter</a>
    <a class="btn btn-outline-dark" href="https://github.com/BD33" role="button">Github</a>
    </div>



  {% endblock content %}